.text {
    color: #8B0000;
    font-weight: 600;
    display: inline;
}

.emailInput, .nameInput, .messageInput {
    border: 2px solid black;
    width: 40%;


    
}

.contact-form{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 75%
}