.text {
    color: #8B0000;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    padding-right: 5%;
    font-weight: 600;

}

.emailInput, .pwInput {
    border: 2px solid black;
    width: 40%;

    
}


.newUser {
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: black;

}
