.chef-list{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}
.recipeList{
    background-color: #c4c4c4;
    width: 500px;
    text-align: center;
    margin: 1%;
    height:400px;
    /* line-height: 0rem; */
    /* padding-top: 30px; */
    /* display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.typeContainer{
    display:flex;
    justify-content: end;
    flex-direction: row-reverse;
    padding-right: 100px;
}
.typeName {
    color: wheat;
    width: 70px !important;
     height: 20px !important;
     background-color: #32b672 !important;
     border-radius: 10%;
}

.recipeImg{
    border-radius: 8%;
}