.registerPage {
    background-image: url(https://wallpaperaccess.com/full/271679.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}